@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');



  h2 {
    font-size: 3.3rem;
    line-height: 110%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight:550;

}
h5{
    margin-Left:10px;
    padding:5px;
}


.home-card{
    max-width: 500px;
    height: max-content;
    margin: 26px auto;

}
a:link {
    color: #36a0fe;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;

  }
