.mycard{
  margin-top: 30px;
}
.auth-card{
   font-family: 'Grand Hotel', cursive;
   text-align: center;
   max-width: 400px;
   margin: 10px auto;
   padding-left: 20px;
   padding-bottom: 20px;
   padding-right: 20px;
   padding-top: 1px;
   margin-top: 85px;

}
.card .card-content{
   padding: 5px;
   
}
.input-field input{
  border: 2px solid black;
  background-color: aqua;
}

.input-field input[type=text]:focus {
   border-bottom: 1px solid #008cff80 !important;
   box-shadow: 0 1px 0 0 #0e73e76a !important;
   color: #000 !important;
}

 .auth-card h2 {
   font-size: 3.3rem;
   line-height: 110%;
   margin-top: 34px;
   padding: 10px;
   font-weight:550;

}
.auth-card h5{
   margin-Left:10px;
   padding:5px;
}
.gallary{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.item{
   width: 100px;

}

.images img{
  margin-right: 5px;
  border-radius: 5px;
  margin-top: 10px;
  flex: wrap;
}

.or-divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.or-divider::before,
.or-divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #dbdbdb;
}

.or-divider span {
  margin: 0 10px;
  color: #8e8e8e;
  font-size: 12px;
  font-weight: bold;
}

#login{
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(45, 179, 237);
}